# Trabajo práctico integrador 
## _Aprendizaje de Maquina_
### CEIA Co12

### Alumnos:
- Córdoba, Pablo
- Pérez Millán, Rodrigo

### Dataset:
- [Wine Quality](https://www.kaggle.com/datasets/joebeachcapital/wine-quality)

### Posibles cuestiones a resolver:

***

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split

Input variables (based on physicochemical tests):

1 - fixed acidity

2 - volatile acidity

3 - citric acid

4 - residual sugar

5 - chlorides

6 - free sulfur dioxide

7 - total sulfur dioxide

8 - density

9 - pH

10 - sulphates

11 - alcohol


Output variable (based on sensory data):

12 - quality (score between 0 and 10)

In [ ]:
DATASET_PATH = "./dataset"

In [25]:
#Leo las columnas
cols = pd.read_csv(DATASET_PATH + '/winequality.columns.csv').column.values.tolist()

print("Columnas: ", cols)

#Leo csv de vino rojo
data_red = pd.read_csv(DATASET_PATH + '/winequality-red.csv',
                       delimiter=';',
                       header=0,
                       names = cols
                    )

#Adjunto una columna nueva con el tipo
data_red["type"]="red"

#Leo csv de vino blanco
data_white = pd.read_csv(DATASET_PATH + '/winequality-white.csv',
                       delimiter=';',
                       header=0,
                       names = cols
                    )
#Adjunto una columna nueva con el tipo
data_white["type"]="white"

#Defino el df final de trabajo
wine=pd.concat([data_white,data_red],ignore_index=True)

wine.head(-10)

Columnas:  ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6482,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.6,7,red
6483,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6,red
6484,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6,red
6485,5.8,0.61,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6,red
6486,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6,red